*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .sidebar {
   background: #eee;
   width: 20%;
 }
.box {
  flex-grow: 1;
  background: #eee;
  width: 20%;
}
.sidebar1 {
  background: #eee;
  display:flex;

}
